<%-include('normal/header.ejs')  %>
<div class="hotelcontainer">
    <div class="subcontainer">
        <div class="sub1">
            <div class="sub2">
        <p class="hotelsname">The Lodhi:A member of The Leading Hotels Of The World</p>
        <div class="threeimage">
        <div class="largerimage">
            <img class="mainsource" src="/images/lodhipro.avif">
            <p class="propertyphotos">Property photos</p>
        </div>
        <div class="splittedimage">
            <img class="subsource1" src="/images/lodhiroom.avif">
            <p class="roomphotos">Room Photos</p>
            <img class="subsource2" src="/images/lodhiguest.avif">
            <p class="guestphotos">Guest Photos</p>
        </div>
        </div>
        <div class="abouthotel">
            <p class="abouthotelp">Feel like a royal at The Lodhi, an epitome of grandeur and elite hospitality located near Lodhi gardens. </p>
        </div>
        <p class="luxary"><b>Discover the Best of Luxury</b></p>
        <div class="discover">
            <div class="firstone">
                <div class="hotelbestimage">
                    <img class="dininghall" src="/images/lodhirestaurant.avif">
                </div>
                <p class="hotelbestp">Great Dining</p>
            </div>
            <div class="firstone">
                <div class="hotelbestimage">
                    <img class="dininghall" src="/images/lodhispa.avif">
                </div>
                <p class="hotelbestp"> Exclusive Spa</p>
            </div>
        </div>
         <div class="amenities">
            <p class="amenitiestest"><b>amenities</b></p>
            <div class="am">
            <div class="amcon1">
                <div class="am1div">
                </div>
                <p class="am1">Gym</p>
            </div>
            <div class="amcon1">
                <div class="am1div"></div>
                <p class="am2">Restaurant</p>
            </div>
            <div class="amcon1">
                <div class="am1div"></div>
                <p class="am3">Yoga</p>
            </div>
            <div class="amcon1">
                <div class="am1div"></div>
                <p class="am4">Lounge</p>
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="animatedcontainer">
        <div class="moving">
        <p class="hotelname"><b>Lodhi Standard Room with Balcony</b></p>
        <p class="roomspace">Fits 2 Adults</p>
        <div class="follow">
        <div class="hotelrules">
            <div class="am1div"></div>
            <p class="am1 ers">No meals included</p>
        </div>
        <div class="hotelrules">
            <div class="am1div"></div>
            <p class="am1 ers">
                Complimentary 1+1 Happy Hours is available</p>
        </div>
        <div class="hotelrules">
            <div class="am1div"></div>
            <p class="am1 ers">Non-Refundable</p>
        </div>
        </div>
        <p class="hoteltiming">Per Night:</p>
        <div class="amountdiv">
            <p class="amount"><b>₹ 36,000</b></p>
            <p class="bill">+ ₹ 6,480 taxes & fees</p>
        </div>
        <a class="refbooking">
            <p class="bookingdir"><b>BOOK THIS NOW</b></p>
        </a>
    </div>
    </div>
</div> 
