<%-include('normal/header.ejs')  %>
<div class="hotelcontainer">
    <div class="subcontainer">
        <div class="sub1">
            <div class="sub2">
        <p class="hotelsname">SureStay Heritage Walk by Best Western</p>
        <div class="threeimage">
        <div class="largerimage">
            <img class="mainsource" src="/images/surestaypro.webp">
            <p class="propertyphotos">Property photos</p>
        </div>
        <div class="splittedimage">
            <img class="subsource1" src="/images/surestayroom.jpg">
            <p class="roomphotos">Room Photos</p>
            <img class="subsource2" src="/images/surestayguest.avif">
            <p class="guestphotos">Guest Photos</p>
        </div>
        </div>
        <div class="abouthotel">
            <p class="abouthotelp">Close to  Sri Harmandir Sahib, this lavish property features comfortable rooms.</p>
        </div>
        <p class="luxary"><b>Discover the Best of Luxury</b></p>
        <div class="discover">
            <div class="firstone">
                <div class="hotelbestimage">
                    <img class="dininghall" src="/images/surestayrest.avif">
                </div>
                <p class="hotelbestp">Great Dining</p>
            </div>
            <div class="firstone">
                <div class="hotelbestimage">
                    <img class="dininghall" src="/images/suresatymc.avif">
                </div>
                <p class="hotelbestp">MC Donalds's</p>
            </div>
        </div>
         <div class="amenities">
            <p class="amenitiestest"><b>amenities</b></p>
            <div class="am">
            <div class="amcon1">
                <div class="am1div">
                </div>
                <p class="am1">Gym</p>
            </div>
            <div class="amcon1">
                <div class="am1div"></div>
                <p class="am2">Restaurant</p>
            </div>
            <div class="amcon1">
                <div class="am1div"></div>
                <p class="am3">Yoga</p>
            </div>
            <div class="amcon1">
                <div class="am1div"></div>
                <p class="am4">Lounge</p>
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="animatedcontainer">
        <div class="moving">
        <p class="hotelname"><b>Deluxe King Room with City View</b></p>
        <p class="roomspace">Fits 2 Adults</p>
        <div class="follow">
        <div class="hotelrules">
            <div class="am1div"></div>
            <p class="am1 ers">No meals included</p>
        </div>
        <div class="hotelrules">
            <div class="am1div"></div>
            <p class="am1 ers">No need to Pay right now. Only Credit Card details required.</p>
        </div>
        <div class="hotelrules">
            <div class="am1div"></div>
            <p class="am1 ers">Non-Refundable</p>
        </div>
        </div>
        <p class="hoteltiming">Per Night:</p>
        <div class="amountdiv">
            <p class="amount"><b>₹ 6,500</b></p>
            <p class="bill">+ ₹ 1,090 taxes & fees</p>
        </div>
        <a class="refbooking">
            <p class="bookingdir"><b>BOOK THIS NOW</b></p>
        </a>
    </div>
    </div>
</div> 
