<%-include('normal/header.ejs')  %>
<div class="exploring1">
    <div class="expcontainer">
<div class="mahal">
    <div class="divisionexplorer">
        <p class="mahalexplorer"><b>Red Fort</b></p>
        <img class="location" src="/images/location.png">
        <p class="agra9"><b>Delhi</b></p>
    </div>
    <p class="symbol">An Iconic Monument in the Heart of the City</p>
</div>
<div  class="center">
<div class="imageslider">
    <img class="taj122" src="/images/red.jpg">
</div>
</div>
<div class="overviewcontainer">
    <div class="over">
    <p class="overview"><b>Overview</b></p>
    <p class="overviewer">Located in Old Delhi, Red Fort is a major tourist attraction and a UNESCO World Heritage site. Mughal emperor Shah Jahan ordered the construction of this architectural marvel which served as the residence of Mughal emperors for nearly 200 years!</p>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="suggestion">
        <p class="duration">Suggested Duration- </p>
        <p class="hours"> 2 to 3 hours</p>
    </div>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="expectation">
        <div class="round1">
        </div>
        <p class="what"><b>What To Expect?</b></p>
    </div>
    <p class="built">Chatta Chowk, a vibrant bazaar leads you to the fort compound. Inside, explore the Drum House, Hall of Public Audiences and more.</p>
    <div class="roundings">
        <div class="round2"></div>
        <p class="what"><b>Tips</b></p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2">Don’t forget to attend the evening sound and light show.</p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2 visit">Explore the bustling parts of Old Delhi and try the yummy street food.</p>
    </div>
    </div>
    </div>
    <center><div class="imagetagger">
        <img class="tagger" src="/images/tagger.jpg">
    </div></center>
    <div class="tipsentry">
        <p class="some"><b>Some useful tips to keep in mind when visiting the Red Fort in Delhi include -</b></p>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">
                As you'll be covering quite some ground across this vast complex, wearing comfortable clothing is advised.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Carry sunscreen, a hat, and a water bottle.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Pick a free water bottle and shoe cover included with the ticket price.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">It's essential to stay hydrated, especially during the hot summer months.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">This tourist destination offers many picturesque views and photo opportunities.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Use the cloak room to store luggage for free beside the ticket counter.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2 visit">Keep your belongings secure and be cautious of your surroundings.</p>
        </div>
    </div>
    <div class="hello"></div>
</div>
</div>