<%-include('normal/header.ejs')  %>
<div class="exploring1">
    <div class="expcontainer">
<div class="mahal">
    <div class="divisionexplorer">
        <p class="mahalexplorer"><b>Hawa Mahal</b></p>
        <img class="location" src="/images/location.png">
        <p class="agra9"><b>Jaipur</b></p>
    </div>
    <p class="symbol">A Five-Storeyed Historic Landmark</p>
</div>
<div class="center">
<div class="imageslider">
    <img class="taj122" src="/images/hawamahal.jpg">
</div>
</div>
<div class="overviewcontainer">
    <div class="over">
    <p class="overview"><b>Overview</b></p>
    <p class="overviewer">An iconic landmark of the city, the honeycomb-shaped palace features beautiful jharokhas and windows. This five-storey building has been built without a foundation and is known for its exceptional ventilation, which is also the reason behind its name, Hawa Mahal, which literally translates to ‘Palace of the Winds’. The palace was mainly constructed to enable the ladies of the royal family to see the busy streets from the palace jharokhas.</p>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="suggestion">
        <p class="duration">Suggested Duration- </p>
        <p class="hours"> Around 1 hour</p>
    </div>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="expectation">
        <div class="round1">
        </div>
        <p class="what"><b>What To Expect?</b></p>
    </div>
    <p class="built">Dedicated to Lord Krishna, Hawa Mahal’s shape is believed to resemble Shri Krishna's crown. Hawa Mahal showcases a fusion of Rajput and Mughal architectural styles.</p>
    <div class="roundings">
        <div class="round2"></div>
        <p class="what"><b>Tips</b></p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2">Visit the palace early in the morning to escape the crowds.</p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2">Wear colourful attire for amazing photographs.</p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2 visit">Soak in the vibrant Jaipur city life in the adjoining street.</p>
    </div>
    </div>
    </div>
    <center><div class="imagetagger">
        <img class="tagger" src="/images/tagger.jpg">
    </div></center>
    <div class="tipsentry">
        <p class="some"><b>Some useful tips to keep in mind when visiting the Hawa Mahal in Jaipur include -</b></p>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">It is suggested that early morning or late afternoon hours would serve as an ideal timeframe for a visit to this monument.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Carry sufficient cash to pay the entrance fee for Hawa Mahal.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Wear comfortable footwear as you may need to walk around the monument.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Capture the beauty of Hawa Mahal through your camera lens, but be mindful of any photography restrictions and respect the privacy of others.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Get fascinating insights from an experienced local guide who can illuminate its intriguing history, architectural brilliance, and cultural importance.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Use the cloak room to store luggage for free beside the ticket counter.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2 visit">To ensure optimal comfort throughout the tour, pack a refillable water bottle for constant hydration.</p>
        </div>
    </div>
    <div class="hello"></div>
</div>
</div>