<%-include('normal/header.ejs')  %>
<div class="exploring1">
    <div class="expcontainer">
<div class="mahal">
    <div class="divisionexplorer">
        <p class="mahalexplorer"><b>Humayun's Tomb
        </b></p>
        <img class="location" src="/images/location.png">
        <p class="agra9"><b>Delhi</b></p>
    </div>
    <p class="symbol">Domed Monument Surrounded by Symmetrical Gardens</p>
</div>
<div class="center">
<div class="imageslider">
    <img class="taj122" src="/images/humayuns1.webp">
</div>
</div>
<div class="overviewcontainer">
    <div class="over">
    <p class="overview"><b>Overview</b></p>
    <p class="overviewer">The royal mausoleum of Mughal Emperor Humayun, this structure was sanctioned by his widow Hamida Baga Begum and designed by Persian architect Mirak Mirza Ghiyas. It was completed between 1565 and 1572.</p>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="suggestion">
        <p class="duration">Suggested Duration- </p>
        <p class="hours"> 1 to 2 hours</p>
    </div>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="expectation">
        <div class="round1">
        </div>
        <p class="what"><b>What To Expect?</b></p>
    </div>
    <p class="built">The striking feature of the tomb is the ‘Charbagh’ (four garden layout) speckled with water channel pathways. Admire the architecture of the tomb and visit the Sundar nursery withing the complex. Be sure to click snaps!</p>
    <div class="roundings">
        <div class="round2"></div>
        <p class="what"><b>Tips</b></p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2">The entry fee for Indians is INR 30 and for foreigners INR 500.</p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2">Also explore Isa Khan’s tomb and mosque along with the Nila Gumbad and Barber’s Tomb located within the same complex.</p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2 visit">Visit the museum inside that shows archival photographs of the area over the years.</p>
    </div>
    </div>
    </div>
    <center><div class="imagetagger">
        <img class="tagger" src="/images/tagger.jpg">
    </div></center>
    <div class="tipsentry">
        <p class="some"><b>Some useful tips to keep in mind when visiting the Humayun's Tomb in Delhi include -</b></p>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Visit early in the morning or late in the afternoon to avoid crowds and enjoy a more peaceful experience.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Wear comfortable footwear and clothing suitable for walking around the complex.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Photography is allowed inside the tomb complex, so make sure to carry your camera or smartphone to capture the beautiful architecture and surroundings.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Avoid littering and follow the designated pathways.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Carry a water bottle and some light snacks as the complex can take some time to explore.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Allocate sufficient time to explore the entire complex, including the gardens and other structures around the tomb.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2 visit">Consider hiring a local guide or audio guide to get a deeper understanding of the history, architecture, and significance of the monument.</p>
        </div>
    </div>
    <div class="hello"></div>
</div>
</div>