<%-include('normal/header.ejs')  %>
<div class="exploring1">
    <div class="expcontainer">
<div class="mahal">
    <div class="divisionexplorer">
        <p class="mahalexplorer"><b>Amer Fort
        </b></p>
        <img class="location" src="/images/location.png">
        <p class="agra9"><b>Jaipur
        </b></p>
    </div>
    <p class="symbol">A Majestic Hilltop Fort</p>
</div>
<div class="center">
<div class="imageslider">
    <img class="taj122" src="/images/jaipur.jpg">
</div>
</div>
<div class="overviewcontainer">
    <div class="over">
    <p class="overview"><b>Overview</b></p>
    <p class="overviewer">Perched atop a hill and overlooking the Maota Lake, the red sandstone fort is now a UNESCO World Heritage Site and showcases a beautiful fusion of Mughal and Rajput architecture.</p>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="suggestion">
        <p class="duration">Suggested Duration- </p>
        <p class="hours"> 3 to 4 hours</p>
    </div>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="expectation">
        <div class="round1">
        </div>
        <p class="what"><b>What To Expect?</b></p>
    </div>
    <p class="built">Marvel at the massive gateways, enjoy leisurely strolls in the sprawling gardens and unwind in the courtyards adorned with frescoes, marble carvings and ancient paintings. The fort also has a fine dining restaurant, 1135 AD. </p>
    <div class="roundings">
        <div class="round2"></div>
        <p class="what"><b>Tips</b></p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2">Avoid carrying big bags since the monkeys tend to snatch those away.</p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2 visit">The 50-minute light and sound show in the evening is a must-see here.
        </p>
    </div>
    </div>
    </div>
    <center><div class="imagetagger">
        <img class="tagger" src="/images/tagger.jpg">
    </div></center>
    <div class="tipsentry">
        <p class="some"><b>Tips for Visiting Amber Fort, Jaipur</b></p>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">
                Initiate your visit during the first shift of the day to evade congestion and make optimum use of your time. </p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Wear comfortable footwear as you will be doing a fair amount of walking and climbing within the fort.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Check if there are any restrictions on photography inside certain areas or during specific ceremonies.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2"> Visitors can also utilise shoe storage options provided by the staff.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Consider attending the evening sound and light show held at Amber Fort. It provides a captivating experience, narrating the history of the fort through an audio-visual spectacle.
            </p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2 visit"> Alongside comfortable accommodations, key services such as medical aid and wheelchair support are also extended.</p>
        </div>
    </div>
    <div class="hello"></div>
</div>
</div>