<%-include('normal/header.ejs')  %>
<div class="exploring1">
    <div class="expcontainer">
<div class="mahal">
    <div class="divisionexplorer">
        <p class="mahalexplorer"><b>Taj Mahal</b></p>
        <img class="location" src="/images/location.png">
        <p class="agra9"><b>Agra</b></p>
    </div>
    <p class="symbol">An Immortal Symbol of Love</p>
</div>
<div class="center">
<div class="imageslider">
    <img class="taj122" src="/images/tajmahalq.jpg">
</div>
</div>
<div class="overviewcontainer">
    <div class="over">
    <p class="overview"><b>Overview</b></p>
    <p class="overviewer">Majestically located on the banks of Yamuna River, this wonder of the world was built by the Mughal Emperor Shah Jahan as a memorial for his beloved wife Mumtaz Mahal.</p>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="suggestion">
        <p class="duration">Suggested Duration- </p>
        <p class="hours"> 2 to 3 hours</p>
    </div>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="expectation">
        <div class="round1">
        </div>
        <p class="what"><b>What To Expect?</b></p>
    </div>
    <p class="built">Built in ivory-white marble, this mausoleum flaunts Indo-Islamic architecture. Tourists can walk through the manicured gardens dotted with fountains, and capture beautiful sunset shots.</p>
    <div class="roundings">
        <div class="round2"></div>
        <p class="what"><b>Tips</b></p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2">If visiting for the first time, it is better to hire a guide to learn about the history of the monument.</p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2">Wear colourful attire for amazing photographs against the all-white background.</p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2 visit">Visit during the early morning hours to avoid the crowds.</p>
    </div>
    </div>
    </div>
    <center><div class="imagetagger">
        <img class="tagger" src="/images/tagger.jpg">
    </div></center>
    <div class="tipsentry">
        <p class="some"><b>Some useful tips to keep in mind when visiting the Taj Mahal in Agra include -</b></p>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Take entry through the east gate to get the shortest queue.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Book a visit between November and February for exploration in the most pleasant weather.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Pick a free water bottle and shoe cover included with the ticket price.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Enjoy up to 30 minutes of free Wi-Fi.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Avail golf cart and battery buses from parking for easy exploration.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Use the cloak room to store luggage for free beside the ticket counter.</p>
        </div>
        <div class="if">
            <div class="if1"></div>++
            <p class="if2 visit">Pick an audio guidebook at just INR 118.</p>
        </div>
    </div>
    <div class="hello"></div>
</div>
</div>