<%-include('normal/header.ejs')  %>
<div class="exploring1">
    <div class="expcontainer">
<div class="mahal">
    <div class="divisionexplorer">
        <p class="mahalexplorer"><b>Golden Temple
        </b></p>
        <img class="location" src="/images/location.png">
        <p class="agra9"><b> Amristar
        </b></p>
    </div>
    <p class="symbol">Holiest Sikh Shrine</p>
</div>
<div class="center">
<div class="imageslider">
    <img class="taj122" src="/images/golden.jpg">
</div>
</div>
<div class="overviewcontainer">
    <div class="over">
    <p class="overview"><b>Overview</b></p>
    <p class="overviewer">Also known as Sri Harmandir Sahib, Golden Temple is considered to be the most important pilgrimage site amongst Sikhs and will leave you in awe with its jaw-dropping gold and marble edifice.</p>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="suggestion">
        <p class="duration">Suggested Duration- </p>
        <p class="hours"> 2 to 3 hours</p>
    </div>
    <div class="liner">
        <div class="linemarker"></div>
    </div>
    <div class="expectation">
        <div class="round1">
        </div>
        <p class="what"><b>What To Expect?</b></p>
    </div>
    <p class="built">Take a dip in the holy waters of Amrit Sarovar, pay obeisance to Granth Sahib at the main temple and seek divine bliss as you see the peaceful rituals and ceremonies.</p>
    <div class="roundings">
        <div class="round2"></div>
        <p class="what"><b>Tips</b></p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2">Don’t forget to relish the delicious Guru ka Langar at the common Gurudwara kitchen.</p>
    </div>
    <div class="if">
        <div class="if1"></div>
        <p class="if2 visit">Make sure to cover your head before entering the Gurudwara complex.</p>
    </div>
    </div>
    </div>
    <center><div class="imagetagger">
        <img class="tagger" src="/images/tagger.jpg">
    </div></center>
    <div class="tipsentry">
        <p class="some"><b>Wondering what makes this Gurudwara stand out among other religious sites? Here are some key features:</b></p>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">
                Darshan (Viewing of the Temple): No matter one's beliefs or background, all are welcome to explore this sacred shrine and experience its beauty firsthand. </p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Upon entering the temple complex, visitors can make their way to the main sanctum. </p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Langar (Community Kitchen): At no cost to visitors, one particular service that stands out is langar, a community kitchen serving up delicious vegetarian meals.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2"> Visitors can also utilise shoe storage options provided by the staff.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">This service showcases the spirit of selflessness at work by symbolising generosity and unity within communities. </p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2">Use the cloak room to store luggage for free beside the ticket counter.</p>
        </div>
        <div class="if">
            <div class="if1"></div>
            <p class="if2 visit"> Alongside comfortable accommodations, key services such as medical aid and wheelchair support are also extended.</p>
        </div>
    </div>
    <div class="hello"></div>
</div>
</div>