<%-include('normal/header.ejs')  %>
<div id="smooth-wrapper">
    <div id="smooth-content">
<div class="topthree">
    <div class="tajmahal">
        <img class="taj" src="/images/taj.jpg">
        <div class="bottom1">
        <div class="one1">
            <div class="onebold">
                 <p class="one"><b>1</b></p>
            </div>
        <p class="agra"><b>Taj Mahal, Agra</b></p>
        </div>
        <p class="immortal">An Immortal Symbol of Love</p>
        <p class="majestic">Majestically located on the banks of Yamuna River, this wonder of the world was built by the Mughal Emperor Shah Jahan as a memorial for his beloved wife Mumtaz Mahal.</p>
        <div class="hrcontainer">
            <div class="hrline"></div>
        </div>
        <div class="explorer">
            <a href="/explore1" class="explore11">
            <p class="explore1"><b>EXPLORE</b></p>
            </a>
            <a href="/booking1" class="booking11">
            <p class="booking1"><b>BOOKING</b></p>
            </a>
        </div>
    </div>
    </div>

    <div class="redfort">
        <img class="red" src="/images/red.avif">
        <div class="bottom2">
            <div class="one2">
                <div class="onebold1">
                     <p class="one1"><b>2</b></p>
                </div>
            <p class="agra1"><b>Red Fort, Delhi</b></p>
            </div>
            <p class="immortal1">Symbol of Mughal Dynasty</p>
            <p class="majestic1">Located in Chandni Chowk Old Delhi, this red sandstone structure was constructed under the reign of Mughal emperor Shah Jahan for protection against invaders. It is known for its intricate Mughal architecture and floral designs.</p>
            <div class="hrcontainer1">
                <div class="hrline1"></div>
            </div>
            <div class="explorer11111">
                <a href="/explore2" class="explore111">
                <p class="explore1111"><b>EXPLORE</b></p>
                </a>
                <a href="/booking2" class="booking111">
                <p class="booking1111"><b>BOOKING</b></p>
                </a>
            </div>
        </div>
    </div>

    <div class="goldentemple">
        <img class="gold" src="/images/gold.webp">
        <div class="bottom18">
            <div class="one18">
                <div class="onebold8">
                     <p class="one8"><b>3</b></p>
                </div>
            <p class="agra8"><b>Golden Temple, Amritsar</b></p>
            </div>
            <p class="immortal8">Holiest Sikh Shrine</p>
            <p class="majestic8">Also known as Sri Harmandir Sahib, Golden Temple is considered to be the most important pilgrimage site amongst Sikhs and will leave you in awe with its jaw-dropping gold and marble edifice.</p>
            <div class="hrcontainer8">
                <div class="hrline8"></div>
            </div>
            <div class="explorer8">
                <a href="/explore3" class="explore118">
                <p class="explore18"><b>EXPLORE</b></p>
                </a>
                <a href="/booking3" class="booking118">
                <p class="booking18"><b>BOOKING</b></p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="tagcon">
    <center><img class="tag" src="/images/tags.jpg"></center>
</div>
<div class="topthree1">
    <div class="tajmahal">
        <img class="taj" src="/images/amer.avif">
        <div class="bottom1">
        <div class="one1">
            <div class="onebold">
                 <p class="one"><b>4</b></p>
            </div>
        <p class="agra"><b>Amer Fort, Jaipur</b></p>
        </div>
        <p class="immortal">A Majestic Hill Top Fort</p>
        <p class="majestic">Perched atop a hill and overlooking the Maota Lake, the red sandstone fort is now a UNESCO World Heritage Site and showcases a beautiful fusion of Mughal and Rajput architecture.</p>
        <div class="hrcontainer">
            <div class="hrline"></div>
        </div>
        <div class="explorer">
            <a href="/explore4" class="explore11">
            <p class="explore1"><b>EXPLORE</b></p>
            </a>
            <a href="/booking4" class="booking11">
            <p class="booking1"><b>BOOKING</b></p>
            </a>
        </div>
    </div>
    </div>

    <div class="redfort">
        <img class="red" src="/images/hawa.webp">
        <div class="bottom2">
            <div class="one2">
                <div class="onebold1">
                     <p class="one1"><b>5</b></p>
                </div>
            <p class="agra1"><b>Hawa Mahal, Jaipur</b></p>
            </div>
            <p class="immortal1">A Five-Storeyed Historic Landmark</p>
            <p class="majestic1">Also called as 'The Palace of Winds', the honeycomb-shaped palace features 953 jharokha-style windows and was built by Maharaja Sawai Pratap Singh to allow the court ladies to enjoy the city processions and it is a beautiful place to visit.</p>
            <div class="hrcontainer1">
                <div class="hrline1"></div>
            </div>
            <div class="explorer11111">
                <a href="/explore5" class="explore111">
                <p  class="explore1111"><b>EXPLORE</b></p>
                </a>
                <a href="/booking5" class="booking111">
                <p class="booking1111"><b>BOOKING</b></p>
                </a>
            </div>
        </div>
    </div>

    <div class="goldentemple">
        <img class="gold" src="/images/tomb.webp">
        <div class="bottom18">
            <div class="one18">
                <div class="onebold8">
                     <p class="one8"><b>6</b></p>
                </div>
            <p class="agra8"><b>Humayun's Tomb, Delhi</b></p>
            </div>
            <p class="immortal8">Domed Monument Surrounded by Symmetrical Gardens</p>
            <p class="majestic8">The royal mausoleum of Mughal Emperor Humayun, this structure was sanctioned by his widow Hamida Baga Begum and designed by Persian architect Mirak Mirza Ghiyas.</p>
            <div class="hrcontainer8">
                <div class="hrline8"></div>
            </div>
            <div class="explorer8">
                <a href="/explore6" class="explore118">
                <p class="explore18"><b>EXPLORE</b></p>
                </a>
                <a href="/booking6" class="booking118">
                <p class="booking18"><b>BOOKING</b></p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="tagcon">
    <center><img class="tag" src="/images/arab.jpg"></center>
</div>
<div class="faq">
<div class="question">
    <p class="faqs"><b>FAQs - Frequently Asked Questions</b></p>
    <p class="q1"><b>What are the top 10 tourist attraction in India?</b></p>
    <p class="a1">There are many iconic tourist spots in India which include Taj Mahal, Red Fort, India Gate, Golden Temple, Amber Palace, Jama Masjid, Agra Fort, Hawa Mahal, Humayun Tomb & Gateway of India.</p>
    <div class="a1bef">
        <div class="a2bef"></div>
    </div>
    <p class="q1">What are the five 5 types of tourist attractions?</p>
    <p class="a1">There are many different types of tourist places to visit in India - Beaches, Hills & Mountains, Museums, Wildlife Sanctuary, Heritage Places & more.</p>
</div>
</div>
</div>
</div>
<%-include('normal/footer.ejs')%>
</body>